
Conteúdo B - Aprendendo Numpy/.ipynb_checkpoints/prog02-aprendendo-numpyV2-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01_AprendendoPython-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01-aprendendo-pythonV2-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01_AprendendoPython-checkpoint.ipynb
Conteúdo C - Aprendendo Matplotlib/.ipynb_checkpoints/prog03-aprendendo-matplotlibV2-checkpoint.ipynb
Conteúdo D - Operações Matriciais/.ipynb_checkpoints/prog04-operacoes-matriciaisV2-checkpoint.ipynb
