
Conteúdo B - Aprendendo Numpy/.ipynb_checkpoints/prog02-aprendendo-numpyV2-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01_AprendendoPython-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01-aprendendo-pythonV2-checkpoint.ipynb
Conteúdo A - Aprendendo Python/.ipynb_checkpoints/prog01_AprendendoPython-checkpoint.ipynb
